flask
flask-wtf
python-dotenv
camelot-py
tk
ghostscript
opencv-python
pandas
pdfplumber
gunicorn
faker
tabula
fpdf
matplotlib
xlsx2pdf
pdfkit
wkhtmltopdf
xlsx2html
pypdf2
reportlab
docx
python-docx
pdf2docx
opencv-python-headless
