{% extends 'base.html' %}
{% block title%}Create Quote{%endblock%}
{% block content%}
<h3>Quote Generator</h3>
<div class="container">
    <form class="needs-validation" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label" for="customer_name">{{ form.customer_name.label }}</label>
                {{ form.customer_name(class="form-control", id="customer_name") }}
                <div class="invalid-feedback">
                    Please enter a customer name.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="customer_contact">{{ form.customer_contact.label }}</label>
                {{ form.customer_contact(class="form-control", id="customer_contact") }}
                <div class="invalid-feedback">
                    Please enter a customer contact person.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="customer_site">{{ form.customer_site.label }}</label>
                {{ form.customer_site(class="form-control", id="customer_site") }}
                <div class="invalid-feedback">
                    Please enter a customer site.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label" for="quote_date">{{ form.quote_date.label }}</label>
                {{ form.quote_date(class="form-control", id="quote_date") }}
                <div class="invalid-feedback">
                    Please enter a quote date.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="sales_support">{{ form.sales_support.label }}</label>
                {{ form.sales_support(class="form-control", id="sales_support") }}
                <div class="invalid-feedback">
                    Please enter a sales support contact.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="account_manager">{{ form.account_manager.label }}</label>
                {{ form.account_manager(class="form-control", id="account_manager") }}
                <div class="invalid-feedback">
                    Please enter an account manager.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label" for="default_currency">{{ form.default_currency.label }}</label>
                {{ form.default_currency(class="form-select", id="default_currency") }}
                <div class="invalid-feedback">
                    Please select a currency.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="conversion_currency">{{ form.conversion_currency.label }}</label>
                {{ form.conversion_currency(class="form-select", id="conversion_currency") }}
            </div>
            {% if conversion %}
            <div class="col-md-4 mb-3">
                <label class="form-label" for="conversion_rate">{{ form.conversion_rate.label }}</label>
                {{ form.conversion_rate(class="form-control", id="conversion_rate", placeholder="Current Conversion Will
                Be Chosen Unless Input") }}
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label" for="VAT">{{ form.VAT.label }}</label>
                {{ form.VAT(class="form-control", id="VAT") }}
                <div class="invalid-feedback">
                    Please enter a VAT percentage.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="other">{{ form.other.label }}</label>
                {{ form.other(class="form-control", id="other") }}
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label" for="margin">{{ form.margin.label }}</label>
                {{ form.margin(class="form-control", id="margin") }}
                <div class="invalid-feedback">
                    Please enter a margin percentage.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label" for="items">{{ form.items.label }}</label>
                {{ form.items(class="form-control", id="items") }}
                <div class="invalid-feedback">
                    Please enter the number of items.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <b><label class="form-label">{{ form.quote_lines.label }}</label></b><br>
            {% for subform in form.quote_lines %}
            <div class="row">
                <div class="col-md-2">
                    <b><label class="form-label">{{ subform.item_name.label }}</label></b>
                    {{ subform.item_name(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid item name.
                    </div>
                </div>
                <div class="col-md-3">
                    <b><label class="form-label">{{ subform.item_description.label }}</label></b>
                    {{ subform.item_description(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid item description.
                    </div>
                </div>
                <div class="col-md-2">
                    <b><label class="form-label">{{ subform.item_price.label }}</label></b>
                    {{ subform.item_price(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid float.
                    </div>
                </div>
                <div class="col-md-1">
                    <b><label class="form-label">{{ subform.quantity.label }}</label></b>
                    {{ subform.quantity(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid quantity.
                    </div>
                </div>
                <div class="col-md-1">
                    <b><label class="form-label">{{ subform.logistics_fee.label }}</label></b>
                    {{ subform.logistics_fee(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid value.
                    </div>
                </div>
                <div class="col-md-1">
                    <b><label class="form-label">{{ subform.duties_fee.label }}</label></b>
                    {{ subform.duties_fee(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid value.
                    </div>
                </div>
                <div class="col-md-1">
                    <b><label class="form-label">{{ subform.other_fee.label }}</label></b>
                    {{ subform.other_fee(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid value.
                    </div>
                </div>
                <div class="col-md-1">
                    <b><label class="form-label">{{ subform.discount.label }}</label></b>
                    {{ subform.discount(class="form-control") }}
                    <div class="invalid-feedback">
                        Please enter a valid value.
                    </div>
                </div>
            </div>
            <hr class="custom-hr">
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
