{% extends 'base.html' %}
{% block title %}Pager{% endblock %}
{% block content %}
<h3>Paginator</h3>
<div class="container">
    <h1>Upload PDF to Paginator</h1>
    <form enctype="multipart/form-data" id="pagerForm" method="post" onsubmit="pagerForm(event)">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.from_no.label(class="form-label") }}
            {{ form.from_no(class="form-control", id="x_axis") }}
        </div>
        <div class="form-group">
            {{ form.to_no.label(class="form-label") }}
            {{ form.to_no(class="form-control", id="y_axis") }}
        </div>
        <div class="form-group">
            {{ form.x_offset.label(class="form-label") }}
            {{ form.x_offset(class="form-control", id="y_axis") }}
        </div>
        <div class="form-group">
            {{ form.y_offset.label(class="form-label") }}
            {{ form.y_offset(class="form-control", id="y_axis") }}
        </div>
        <button class="btn btn-primary" id="pagerBtn" type="submit">Paginate</button>
        <div class="spinner-border" id="loadingPagerIndicator" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </form>
</div>
{% endblock %}