{% extends 'base.html' %}
{% block title %}AI Word{% endblock %}
{% block content %}
<div>
    <h1>Upload Word Document to Analyze</h1>
    <form enctype="multipart/form-data" id="AiWordForm" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.word_file(id="aiWordFileInput") }}
        </div>
        <button id="aiButton" type="submit" class="btn btn-dark">Read</button>
    </form>
    <a href="{{url_for('ai_blp.ai_parse')}}" id="redirect-to-parse" style="display: none;"> Parse </a>
    <div class="spinner-border text-primary" id="spinner-loader-ai" role="status" style="display: none;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div id="resultAiMessage" style="display: none;"></div>
    <div id="wordDataResults" style="margin-top: 20px;"></div>
        <a href="{{url_for('ai_blp.ai_parse')}}" id="redirect-to-parse-2" style="display: none;"> Parse </a>
</div>
{% endblock %}
