{% extends 'base.html' %}
{% block title%}Create PDF from Excel{%endblock%}
{% block content%}
<div class="container">
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="text-center">

            <h1 class="text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Convert EXCEL to PDF</h1>
            <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Make EXCEL spreadsheets easy to read by converting them to PDF.            </p>

</div>

    <form enctype="multipart/form-data" id="excelForm" method="post" onsubmit="submitExcelForm(event)">
        {{ form.hidden_tag() }}
        <div class="form-group">

            <div class="col-span-full py-12">
                <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900"> {{ form.file.label(class="form-label") }}</label>
                <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                  <div class="text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
                    </svg>
                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                      <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                        <span>            {{ form.file(class="form-control") }}
                        </span>
                        <input id="file-upload" name="file-upload" type="file" class="sr-only">
                      </label>
                    </div>
                    <p class="text-xs leading-5 text-gray-600">.xlsx, .xls, .csv </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-y-8">

                <div class="sm:col-span-3 col-span-2">
                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900"> {{ form.zoom.label(class="form-label") }}</label>
                    <div class="mt-2">
                      
                        <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        {{ form.zoom(class="form-control") }}</div>
                   
                    </div>
                  </div>

                  <div class="sm:col-span-3 col-span-2">
                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                    <div class="mt-2">
                      <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                  </div>
            </div>


            {{ form.zoom.label(class="form-label") }}
            {{ form.zoom(class="form-control") }}
            {{ form.orientation.label(class="form-label") }}
            {{ form.orientation(class="form-control") }}
            {{ form.page_size.label(class="form-label") }}
            {{ form.page_size(class="form-control") }}
        </div>
        <button class="btn btn-primary" id="convertExcelBtn" type="submit">Convert</button>
        <div id="loadingExcelIndicator" style="display: none;">
            <p>Loading...</p>
        </div>
    </form>
    </div>
</div>
{% endblock %}